<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <title>Vue Email List</title>
</head>
<body>
  
  <div id="app">

    <ul v-if="isLoadingOver">
      <li v-for="email in ApiEmails">{{email}}</li>
    </ul>
    <div v-else class="loading">
      <div class="circle"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <span v-show="!isLoadingOver">Loading...</span>
  </div>

  <script src="js/script.js"></script>
</body>
</html>